/* Put Application specific CSS here. */
td, th {
	color:black;
	text-align:center;
}

#levelCompleted {
	font-size: 24px;
	color: red;
}

#scoreSpan {
	font-size:36px;
	color:blue;
}

#scoresList {
	margin: auto;
}

#scoresTable {
	margin: auto;
	color:gray;
}

.centerText {
	text-align:center;
	
}


