<div class="palm-group">
	<div class="palm-group-title">How To Play</div>
	 <div class="palm-body-text">
	 	When you start the game it will list out 4 choices of a word,
		only one of the choices is truly correct.
		<br/><br/>
		When you select a choice the game will indicate whether or not it is the correct choice.  
		If you make all of the correct choices in the level of 5 words, you progress.  
		If you guess incorrectly the game will start the current level over.
		<br/><br/>
		A constant timer is ticking down your score but don't worry if the score reaches zero the game
		doesn't end!  If it is a particularly difficult level you can spend time really learning the words.
		<br/>
		But try to be quick to get the best score!
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title">Word Learn Suite</div>
	 <div class="palm-body-text">
	 	SpellWell is part of the Word Learn Suite!  If you enjoyed this game please try its companion game!
		<br/>
		
		<ul>
			<li class="gameLink"><a href="http://developer.palm.com/appredirect/?packageid=com.viscinc.synogame">Synogame</a></li>
			<li class="gameLink"><a href="http://developer.palm.com/appredirect/?packageid=com.viscinc.synogame-trial">Synogame (trial)</a></li>
		</ul>
	</div>
</div>